[submodule "libs/beat-link-cpp"]
	path = libs/beat-link-cpp
	url = https://github.com/yutaokuyama/beat-link-cpp.git
	branch = windows-msvc-fix
[submodule "libs/stb-include"]
	path = libs/stb-include
	url = https://github.com/nothings/stb.git
[submodule "libs/miniz-include"]
	path = libs/miniz-include
	url = https://github.com/richgel999/miniz.git
[submodule "libs/crate-digger-cpp"]
	path = libs/crate-digger-cpp
	url = https://github.com/yutaokuyama/crate-digger-cpp.git
